[submodule "seqan3"]
	path = lib/seqan3
	url = https://github.com/seqan/seqan3.git
	branch = master
[submodule "lib/sharg-parser"]
	path = lib/sharg-parser
	url = git@github.com:seqan/sharg-parser.git
[submodule "sharg-parser"]
	branch = main
